@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-wrapper {
    background-color: #ddd;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#nav-bar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#nav-bar a {
    padding: 18px 40px 10px 40px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

#nav-bar-logo {
    margin-right: auto;
}

h1 {
    font-weight: 900;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

p {
    margin-bottom: 16px;
}

.section {
    width: 1000px;
    margin: 0 auto;
}

#form-section {
    padding-top: 50px;
}

#form-container {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

input[type="email"] {
    width: 200px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    padding: 4px;
}

#video-section {
    text-align: center;
    padding-top: 30px;
}

#three-employees {
    display: flex;
    justify-content: space-evenly;
}

.team-member {
    width: 300px;
    text-align: center;
}

.team-member-photo {
    width: 100%;
    border-radius: 50%;
    height: auto;
    margin-bottom: 15px;
    box-shadow: 4px 4px 8px #888;
}

#three-prices {
    display: flex;
    justify-content: space-evenly;
}

#three-prices h2 {
    text-align: center;
}

.price-box {
    padding: 10px 20px 10px 30px;
    width: 300px;
    border: 5px solid #111;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #666;
}

.button-holder {
    width: 100px;
    margin: 0 auto;
}

.buy-button {
    width: 100px;
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    background-color: #FFA500;
    border-radius: 5px;
}

#pricing-section h2 {
    padding-bottom: 10px;
}